#rootPanAdmin {

    -fx-background-color: #33313b;

}

#seperator{
    -fx-background-color: #d1e2e8;
}

.button{
    -fx-text-fill: #ffff;
    -fx-background-color: #4a494f;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:hover{

    -fx-text-fill: #33313b;
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


#lightsButtonAdmin{
    -fx-text-fill: #ffff;
    -fx-background-color: #4a494f;
    -fx-background-image: url("../images/light-bulbWhite.png");
    -fx-background-size: 54px 54px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}


#lightsButtonAdmin:hover{
    -fx-text-fill: #ffff;
    -fx-background-color: #91ab46;
    -fx-background-image: url("../images/light-bulb.png");
    -fx-background-size: 62px 62px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}


/*!*#addPositionButton {*!*/
/*!*-fx-background-color: #4a494f;*!*/
/*!*-fx-background-image: url("../plans.png");*!*/
/*!*-fx-background-size: 18px 18px;*!*/
/*!*-fx-background-repeat: no-repeat;*!*/
/*!*-fx-background-position: center;*!*/
/*!*}*!*/

/*#addPositionButton:hover{*/

/*}*/

#positionNameLabel{
    -fx-text-fill: white;
}
#planHomeB:hover {
-fx-background-color: #939199;
-fx-background-image: url("../images/plansOrang.png");
-fx-background-size: 96px 96px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
}

#homePlanButton{
    -fx-background-image: url("../images/metering.png");
    -fx-background-size: 18px 18px;
}

#addUserButton{
    -fx-background-image: url("../images/add-contactWhite.png");
    -fx-background-size: 22px 22px;
}


/*#rightPan {*/
    /*-fx-background-color: #4a494f;*/


/*}*/

/*.tab-pane {*/
    /*-fx-background-color: #4a494f;*/
/*}*/


/*#addNewUserButton {*/
    /*-fx-text-fill: #ffff;*/
    /*-fx-background-color: #4a494f;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
/*}*/

/*#setUpHomeB {*/
    /*-fx-text: "Setup Home";*/
    /*-fx-highlight-text-fill: white;*/
    /*-fx-text-fill: white;*/
    /*-fx-font-weight: bold;*/
    /*-fx-border-color: white;*/
    /*-fx-background-color: #4a494f;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
/*}*/


/*#addNewUserButton:hover {*/
    /*-fx-text-fill: #4a494f;*/
    /*-fx-background-color: #939199;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
/*}*/

/*#setUpHomeB:hover{*/
    /*-fx-text-fill: #4a494f;*/
    /*-fx-background-color: #939199;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
/*}*/




/*#planHomeB {*/
    /*-fx-background-color: #4a494f;*/
    /*-fx-background-image: url("../plans.png");*/
    /*-fx-background-size: 96px 96px;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
/*}*/

/*#planHomeB:hover {*/
    /*-fx-background-color: #939199;*/
    /*-fx-background-image: url("../plansOrang.png");*/
    /*-fx-background-size: 96px 96px;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: center;*/
/*}*/
