


#get_started {

    -fx-background-color: #33313b;
    -fx-text-fill: #e6f5ff;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -webkit-transition-duration: 0.4s;

    }


#get_started:hover{
    -fx-background-color: #e6f5ff;
    -fx-background-insets: 0 0 -2 2, 2, 1, 2;
    -fx-background-radius: 8px, 8px, 8px, 8px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #3c4f65;
}


.image-view-wrapper {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

#welcome{
    -fx-text-fill: #3c4f65;
    -fx-font-weight: bold;
    -fx-font-size: 32px;

}

#smart{
    -fx-text-fill: #834c69;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}
#to{
    -fx-text-fill: #834c69;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

#homeLable{
    -fx-text-fill: #834c69;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}